<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Airbnb</title>
	</head>
	<body>

		<h2>Airbnb Details in <span data-th-text="${country}"></span></h2>
		<a data-th-href="@{/}">
			<button type="button">Back</button>
		</a>
		<hr>
		<div data-th-each="airbnb : ${airbnbList}">
			<table>
				<tr>
					<td>Name:</td>
					<td>
						<a th:href="@{${airbnb.url}}"><span data-th-text="*{airbnb.name}"></span></a>
					</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>
						<span data-th-text="*{airbnb.description}"></span>
					</td>
				</tr>
			</table>
			<hr>
		</div>
		<a data-th-href="@{/}">
			<button type="button">Back</button>
		</a>
	</body>
</html>